@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-darkest: #343a40;
    --color-dark: #495057;
    --color-medium: #ced4da;
    --color-light: #f1f3f5;
    --color-theme: #1098ad;
    --color-accent: #ffa94d;
}

h4 {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}